In [1]:
import pandas as pd
import random

from datetime import datetime

Importing 15 original flux net files for variable analysis

In [2]:
# FluxNet Sites Upload
# Australia, Calperum - Savanna
AU_CPR = pd.read_csv('FLX_AU-Cpr_FLUXNET2015_FULLSET_DD_2010-2014_2-4.csv')
# Australia, Ti tree East - Grassland
AU_TTE = pd.read_csv('FLX_AU-TTE_FLUXNET2015_FULLSET_DD_2012-2014_1-4.csv')
# Switzerland, Chamau - Grassland
CH_CHA = pd.read_csv('FLX_CH-Cha_FLUXNET2015_FULLSET_DD_2005-2014_2-4.csv')
# Germany, Selhausen Juelich - Cropland
DE_RUS = pd.read_csv('FLX_DE-RuS_FLUXNET2015_FULLSET_DD_2011-2014_1-4.csv')
# Germany, Schechenfilz - Permanent Wetland
DE_SFN = pd.read_csv('FLX_DE-SfN_FLUXNET2015_FULLSET_DD_2012-2014_1-4.csv')
# French Guiana, Guyaflux - Evergreen Broadleaf Forest
GF_GUY = pd.read_csv('FLX_GF-Guy_FLUXNET2015_FULLSET_DD_2004-2014_2-4.csv')
# Ghana, Ankasa - Evergreen Broadleaf Forest
GH_ANK = pd.read_csv('FLX_GH-Ank_FLUXNET2015_FULLSET_DD_2011-2014_1-4.csv')
# Italy, Collelongo - Deciduous Broadleaf Forest
IT_COL = pd.read_csv('FLX_IT-Col_FLUXNET2015_FULLSET_DD_1996-2014_1-4.csv')
# Italy, Arca di Noe - Closed Shrubland
IT_NOE = pd.read_csv('FLX_IT-Noe_FLUXNET2015_FULLSET_DD_2004-2014_2-4.csv')
# USA, Park Falls - Mixed Forest
US_PFA = pd.read_csv('FLX_US-PFa_FLUXNET2015_FULLSET_DD_1995-2014_1-4.csv')
# USA, Santa Rita Mesquite - Woody Savanna
US_SRM = pd.read_csv('FLX_US-SRM_FLUXNET2015_FULLSET_DD_2004-2014_1-4.csv')
# USA, Twitchell Alfalfa - Cropland
US_TW3 = pd.read_csv('FLX_US-Tw3_FLUXNET2015_FULLSET_DD_2013-2014_2-4.csv')
# USA, Willow Creek - Deciduous Broadleaf Forest
US_WCR = pd.read_csv('FLX_US-WCr_FLUXNET2015_FULLSET_DD_1999-2014_1-4.csv')
# USA, Walnut Gulch - Open Shrubland
US_WHS = pd.read_csv('FLX_US-Whs_FLUXNET2015_FULLSET_DD_2007-2014_1-4.csv')
# USA, Walnut Gulch - Grassland
US_WKG = pd.read_csv('FLX_US-Wkg_FLUXNET2015_FULLSET_DD_2004-2014_1-4.csv')

In [28]:
print('AU_CPR End Date: ' + str(AU_CPR['TIMESTAMP'].max()))
print('AU_TTE End Date: ' + str(AU_TTE['TIMESTAMP'].max()))
print('CH_CHA End Date: ' + str(CH_CHA['TIMESTAMP'].max()))
print('DE_RUS End Date: ' + str(DE_RUS['TIMESTAMP'].max()))
print('DE_SFN End Date: ' + str(DE_SFN['TIMESTAMP'].max()))
print('GF_GUY End Date: ' + str(GF_GUY['TIMESTAMP'].max()))
print('GH_ANK End Date: ' + str(GH_ANK['TIMESTAMP'].max()))
print('IT_COL End Date: ' + str(IT_COL['TIMESTAMP'].max()))
print('IT_NOE End Date: ' + str(IT_NOE['TIMESTAMP'].max()))
print('US_PFA End Date: ' + str(US_PFA['TIMESTAMP'].max()))
print('US_SRM End Date: ' + str(US_SRM['TIMESTAMP'].max()))
print('US_TW3 End Date: ' + str(US_TW3['TIMESTAMP'].max()))
print('US_WCR End Date: ' + str(US_WCR['TIMESTAMP'].max()))
print('US_WHS End Date: ' + str(US_WHS['TIMESTAMP'].max()))
print('US_WKG End Date: ' + str(US_WKG['TIMESTAMP'].max()))

AU_CPR End Date: 20141231
AU_TTE End Date: 20141231
CH_CHA End Date: 20141231
DE_RUS End Date: 20141231
DE_SFN End Date: 20141231
GF_GUY End Date: 20141231
GH_ANK End Date: 20141231
IT_COL End Date: 20141231
IT_NOE End Date: 20141231
US_PFA End Date: 20141231
US_SRM End Date: 20141231
US_TW3 End Date: 20141231
US_WCR End Date: 20141231
US_WHS End Date: 20141231
US_WKG End Date: 20141231

In [3]:
datasets = {'AU_CPR':AU_CPR, 'AU_TTE':AU_TTE, 'CH_CHA':CH_CHA, 'DE_RUS':DE_RUS, 'DE_SFN':DE_SFN, 
            'GF_GUY':GF_GUY, 'GH_ANK':GH_ANK, 'IT_COL':IT_COL, 'IT_NOE':IT_NOE, 'US_PFA':US_PFA, 
            'US_SRM':US_SRM, 'US_TW3':US_TW3, 'US_WCR':US_WCR, 'US_WHS':US_WHS, 'US_WKG':US_WKG}
len(datasets)

15

Checking for number of available dates in investigation period and using more represented days as the final sample

In [4]:
for name, df in datasets.items():
    filtered_df = df[(df['TIMESTAMP'] >= 20140906) & (df['TIMESTAMP'] <= 20141231) & (df['GPP_DT_VUT_REF'] != 0)]
    datasets[name] = filtered_df  
    print(f'Available Days for {name}: {len(filtered_df)}')

Available Days for AU_CPR: 117
Available Days for AU_TTE: 55
Available Days for CH_CHA: 117
Available Days for DE_RUS: 85
Available Days for DE_SFN: 117
Available Days for GF_GUY: 117
Available Days for GH_ANK: 117
Available Days for IT_COL: 111
Available Days for IT_NOE: 117
Available Days for US_PFA: 82
Available Days for US_SRM: 115
Available Days for US_TW3: 117
Available Days for US_WCR: 74
Available Days for US_WHS: 117
Available Days for US_WKG: 117

In [5]:
available_days = datasets['AU_CPR']['TIMESTAMP'].tolist()

# Dictionary to store the count of datasets each TIMESTAMP is present in
day_info = {timestamp: {'count': 0, 'missing_datasets': []} for timestamp in available_days}

# Loop through each dataset and count occurrences of each TIMESTAMP
for key, df in datasets.items():
    for timestamp in available_days:
        if timestamp in df['TIMESTAMP'].values:
            day_info[timestamp]['count'] += 1
        else:
            day_info[timestamp]['missing_datasets'].append(key)

# Prepare the final list of results
result = [(timestamp, info['count'], info['missing_datasets']) for timestamp, info in day_info.items()]

# Output the result
days_14plus = 0
days = []
for timestamp, count, missing_datasets in result:
    if count >= 14:
        days_14plus += 1
        days.append(timestamp)
        print(f"TIMESTAMP: {timestamp}, Count: {count}, Missing Datasets: {missing_datasets}")
print(f"Available days: {days_14plus}")

TIMESTAMP: 20140906, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140907, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140908, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140909, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140910, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140911, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140912, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140913, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140914, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140915, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140916, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140917, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140918, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140919, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140920, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140921, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140922, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140923, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140924, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140925, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140926, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140927, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140928, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20140929, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141010, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141011, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141012, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141013, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141016, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141017, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141018, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141019, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141028, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141029, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141030, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141031, Count: 14, Missing Datasets: ['DE_RUS']
TIMESTAMP: 20141101, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141102, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141103, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141104, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141105, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141106, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141107, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141108, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141109, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141110, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141111, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141112, Count: 14, Missing Datasets: ['AU_TTE']
TIMESTAMP: 20141211, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141212, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141221, Count: 14, Missing Datasets: ['IT_COL']
TIMESTAMP: 20141222, Count: 14, Missing Datasets: ['IT_COL']
TIMESTAMP: 20141223, Count: 15, Missing Datasets: []
TIMESTAMP: 20141224, Count: 15, Missing Datasets: []
TIMESTAMP: 20141225, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141226, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141227, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141228, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141229, Count: 14, Missing Datasets: ['US_WCR']
TIMESTAMP: 20141230, Count: 14, Missing Datasets: ['US_WCR']
Available days: 60

In [8]:
days_sample = random.sample(days, 25)
days_sample.sort()
days_sample

[20140906,
 20140907,
 20140914,
 20140917,
 20140918,
 20140919,
 20140921,
 20140923,
 20140925,
 20141010,
 20141011,
 20141017,
 20141018,
 20141028,
 20141031,
 20141103,
 20141105,
 20141108,
 20141212,
 20141221,
 20141222,
 20141223,
 20141226,
 20141228,
 20141230]

Concatenating all fluxnet datasets together for final validation data

In [9]:
filtered_datasets = []

for name, df in datasets.items():
    # Filter the dataset to include only rows with timestamps in days_sample
    filtered_df = df.loc[df['TIMESTAMP'].isin(days_sample)].copy()
    
    # Adding a site identifier to the dataset
    filtered_df['SITE'] = name
    
    # Append the filtered dataset to the list
    filtered_datasets.append(filtered_df)

# Concatenate all filtered datasets together
final_df = pd.concat(filtered_datasets)

# Sort the concatenated dataset by timestamp
final_df = final_df.sort_values(by='TIMESTAMP')

# Set the timestamp as the index
final_df.set_index('TIMESTAMP', inplace=True)

In [10]:
final_df[['SITE','GPP_DT_VUT_REF','GPP_NT_VUT_REF']]

             SITE  GPP_DT_VUT_REF  GPP_NT_VUT_REF
TIMESTAMP
20140906   AU_CPR        0.647516        1.016490
20140906   US_SRM        1.796420        0.319892
20140906   US_PFA        4.074350        5.964680
20140906   US_WCR       10.009200        9.311300
20140906   IT_NOE        0.769989        1.378470
...           ...             ...             ...
20141230   AU_TTE        1.696490        1.905130
20141230   DE_RUS        0.570375        0.479853
20141230   CH_CHA        0.516711        0.589990
20141230   GH_ANK        5.072530        8.170280
20141230   US_WKG        0.192722        0.177194

[351 rows x 3 columns]

In [11]:
final_df.to_excel('FLUXNET Validation Data.xlsx')

Validation Data

Following same process for validation data as above

In [3]:
# FluxNet Sites Upload
# Netherlands, Loobos - Evergreen Needleleaf Forest
NL_LOO = pd.read_csv('FLX_NL-Loo_FLUXNET2015_FULLSET_DD_1996-2014_1-4.csv')
# France, Puechabon - Evergreen Broadleaf Forest
FR_PUE = pd.read_csv('FLX_FR-Pue_FLUXNET2015_FULLSET_DD_2000-2014_2-4.csv')
# US, Niwot Ridge Forest - Evergreen Needleleaf Forest
US_NR1 = pd.read_csv('FLX_US-NR1_FLUXNET2015_FULLSET_DD_1998-2014_1-4.csv')
# Australia, Gingin - Grasslands
AU_GIN = pd.read_csv('FLX_AU-Gin_FLUXNET2015_FULLSET_DD_2011-2014_1-4.csv')

In [4]:
datasets = {'AU_CPR':AU_CPR, 'CH_CHA':CH_CHA, 'DE_RUS':DE_RUS, 'FR_PUE':FR_PUE, 'GF_GUY':GF_GUY, 
            'GH_ANK':GH_ANK, 'IT_COL':IT_COL, 'IT_NOE':IT_NOE, 'NL_LOO':NL_LOO, 'US_NR1':US_NR1,
            'US_PFA':US_PFA, 'US_SRM':US_SRM, 'US_WCR':US_WCR, 'US_WKG':US_WKG, 'AU_GIN':AU_GIN}
len(datasets)

15

In [5]:
for name, df in datasets.items():
    filtered_df = df[(df['TIMESTAMP'] >= 20120101) & (df['TIMESTAMP'] <= 20141231) & (df['GPP_DT_VUT_REF'] != 0)]
    datasets[name] = filtered_df  
    print(f'Available Days for {name}: {len(filtered_df)}')

Available Days for AU_CPR: 972
Available Days for CH_CHA: 1094
Available Days for DE_RUS: 1054
Available Days for FR_PUE: 1096
Available Days for GF_GUY: 1096
Available Days for GH_ANK: 731
Available Days for IT_COL: 966
Available Days for IT_NOE: 1096
Available Days for NL_LOO: 1095
Available Days for US_NR1: 913
Available Days for US_PFA: 874
Available Days for US_SRM: 1068
Available Days for US_WCR: 700
Available Days for US_WKG: 1020
Available Days for AU_GIN: 1096

In [6]:
# Loop through each dataset in the dictionary and filter based on the day
for key, df in datasets.items():
    # Convert the 'TIMESTAMP' column to string (if it's not already)
    df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)

C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\56103037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMESTAMP'] = df['TIMESTAMP'].astype(str)

In [7]:
site_info = {
    'AU_GIN': {'Site': 'AU_GIN', 'LandType': 'GRA'},
    'GH_ANK': {'Site': 'GH_ANK', 'LandType': 'EBF'},
    'DE_RUS': {'Site': 'DE_RUS', 'LandType': 'CRO'},
    'GF_GUY': {'Site': 'GF_GUY', 'LandType': 'EBF'},
    'US_PFA': {'Site': 'US_PFA', 'LandType': 'MF'},
    'US_SRM': {'Site': 'US_SRM', 'LandType': 'WSA'},
    'CH_CHA': {'Site': 'CH_CHA', 'LandType': 'GRA'},
    'IT_COL': {'Site': 'IT_COL', 'LandType': 'DBF'},
    'US_WCR': {'Site': 'US_WCR', 'LandType': 'DBF'},
    'AU_CPR': {'Site': 'AU_CPR', 'LandType': 'SAV'},
    'US_WKG': {'Site': 'US_WKG', 'LandType': 'GRA'},
    'IT_NOE': {'Site': 'IT_NOE', 'LandType': 'CSH'},
    'NL_LOO': {'Site': 'NL_LOO', 'LandType': 'ENF'},
    'US_NR1': {'Site': 'US_NR1', 'LandType': 'ENF'},
    'FR_PUE': {'Site': 'FR_PUE', 'LandType': 'EBF'}
}

In [8]:
# Loop through each dataset, add 'Site' and 'LandType' columns
for key, df in datasets.items():
    df['Site'] = site_info[key]['Site']
    df['LandType'] = site_info[key]['LandType']

# Concatenate all datasets into a single DataFrame
final_df = pd.concat(datasets.values(), ignore_index=True)
final_df = final_df[['TIMESTAMP','Site','LandType','GPP_DT_VUT_REF']]
# Display the concatenated DataFrame
final_df

C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Site'] = site_info[key]['Site']
C:\Users\joearthur\AppData\Local\Temp\ipykernel_33048\3613166346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LandType'] = site_info[key]['LandType']

      TIMESTAMP    Site LandType  GPP_DT_VUT_REF
0      20120101  AU_CPR      SAV         2.03879
1      20120102  AU_CPR      SAV         1.87470
2      20120103  AU_CPR      SAV         1.78140
3      20120104  AU_CPR      SAV         3.02629
4      20120105  AU_CPR      SAV         3.02008
...         ...     ...      ...             ...
14866  20141227  AU_GIN      GRA         3.73948
14867  20141228  AU_GIN      GRA         4.45458
14868  20141229  AU_GIN      GRA         3.83001
14869  20141230  AU_GIN      GRA         3.36805
14870  20141231  AU_GIN      GRA         4.63954

[14871 rows x 4 columns]

In [9]:
final_df['Site'].value_counts()

Site
FR_PUE    1096
GF_GUY    1096
IT_NOE    1096
AU_GIN    1096
NL_LOO    1095
CH_CHA    1094
US_SRM    1068
DE_RUS    1054
US_WKG    1020
AU_CPR     972
IT_COL     966
US_NR1     913
US_PFA     874
GH_ANK     731
US_WCR     700
Name: count, dtype: int64

In [10]:
final_df['TIMESTAMP'] = pd.to_datetime(final_df['TIMESTAMP'], format='%Y%m%d')
final_df['TIMESTAMP'] = final_df['TIMESTAMP'].dt.strftime('%Y-%m-%d')
final_df.rename(columns={'TIMESTAMP': 'Date'}, inplace=True)
final_df

             Date    Site LandType  GPP_DT_VUT_REF
0      2012-01-01  AU_CPR      SAV         2.03879
1      2012-01-02  AU_CPR      SAV         1.87470
2      2012-01-03  AU_CPR      SAV         1.78140
3      2012-01-04  AU_CPR      SAV         3.02629
4      2012-01-05  AU_CPR      SAV         3.02008
...           ...     ...      ...             ...
14866  2014-12-27  AU_GIN      GRA         3.73948
14867  2014-12-28  AU_GIN      GRA         4.45458
14868  2014-12-29  AU_GIN      GRA         3.83001
14869  2014-12-30  AU_GIN      GRA         3.36805
14870  2014-12-31  AU_GIN      GRA         4.63954

[14871 rows x 4 columns]

In [11]:
final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df['Day'] = final_df['Date'].dt.day
final_df

            Date    Site LandType  GPP_DT_VUT_REF  Day
0     2012-01-01  AU_CPR      SAV         2.03879    1
1     2012-01-02  AU_CPR      SAV         1.87470    2
2     2012-01-03  AU_CPR      SAV         1.78140    3
3     2012-01-04  AU_CPR      SAV         3.02629    4
4     2012-01-05  AU_CPR      SAV         3.02008    5
...          ...     ...      ...             ...  ...
14866 2014-12-27  AU_GIN      GRA         3.73948   27
14867 2014-12-28  AU_GIN      GRA         4.45458   28
14868 2014-12-29  AU_GIN      GRA         3.83001   29
14869 2014-12-30  AU_GIN      GRA         3.36805   30
14870 2014-12-31  AU_GIN      GRA         4.63954   31

[14871 rows x 5 columns]

Filtering dataset based on most available dates as to reduce dataset size for efficiency reasons

In [12]:
final_df['Day'].value_counts()

Day
14    496
12    496
13    495
11    493
15    492
28    491
18    489
17    489
16    489
26    488
25    488
7     488
27    488
24    488
23    488
4     488
19    487
21    487
10    487
2     487
8     487
9     486
22    486
6     486
20    485
3     485
1     484
5     484
29    467
30    449
31    278
Name: count, dtype: int64

Top 10 Days = 11,12,13,14,15,16,18,21,26,28

In [13]:
days = [11,12,13,14,15,16,18,21,26,28]

final = final_df[final_df['Day'].isin(days)]
del final['Day']
final

            Date    Site LandType  GPP_DT_VUT_REF
10    2012-01-11  AU_CPR      SAV         3.14294
11    2012-01-12  AU_CPR      SAV         3.33879
12    2012-01-13  AU_CPR      SAV         2.84944
13    2012-01-14  AU_CPR      SAV         3.06008
14    2012-01-15  AU_CPR      SAV         2.77582
...          ...     ...      ...             ...
14855 2014-12-16  AU_GIN      GRA         5.86594
14857 2014-12-18  AU_GIN      GRA         5.00909
14860 2014-12-21  AU_GIN      GRA         5.99877
14865 2014-12-26  AU_GIN      GRA         4.55825
14867 2014-12-28  AU_GIN      GRA         4.45458

[4916 rows x 4 columns]

In [14]:
final.to_excel('Final_Flux_Data.xlsx')